<h1>Listing eBay Auctions</h1>

<table>
  <tr>
    <th>Antique</th>
    <th>Title</th>
    <th>Start price</th>
    <th>Current price</th>
    <th>Reserve price</th>
    <th>Buy it now price</th>
    <th>Shipping price</th>
    <th>Antique</th>
    <th>Item number</th>
    <th>Length</th>
    <th>Bids</th>
    <th>Hit count</th>
    <th>Watch count</th>
    <th>Reserve met</th>
    <th>Listing status</th>
    <th>Time left</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Date ended</th>
    <th>Primary category</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ebay_auctions.each do |ebay_auction| %>
  <tr>
    <td><%= link_to ebay_auction.antique.name, admin_antique_path(ebay_auction.antique) %></td>
    <td><%= ebay_auction.title %></td>
    <td><%= ebay_auction.start_price %></td>
    <td><%= ebay_auction.current_price %></td>
    <td><%= ebay_auction.reserve_price %></td>
    <td><%= ebay_auction.buy_it_now_price %></td>
    <td><%= ebay_auction.shipping_price %></td>
    <td><%= ebay_auction.antique_id %></td>
    <td><%= ebay_auction.item_number %></td>
    <td><%= ebay_auction.length %></td>
    <td><%= ebay_auction.bids %></td>
    <td><%= ebay_auction.hit_count %></td>
    <td><%= ebay_auction.watch_count %></td>
    <td><%= ebay_auction.reserve_met %></td>
    <td><%= ebay_auction.listing_status %></td>
    <td><%= ebay_auction.time_left %></td>
    <td><%= ebay_auction.start_time %></td>
    <td><%= ebay_auction.end_time %></td>
    <td><%= ebay_auction.date_ended %></td>
    <td><%= ebay_auction.primary_category_id %></td>
    <td><%= ebay_auction.winner_id %></td>
    <td><%= link_to 'Show', admin_antique_ebay_auction_path(@antique, ebay_auction) %></td>
    <td><%= link_to 'Edit', edit_admin_antique_ebay_auction_path(@antique, ebay_auction) %></td>
    <td><%= link_to 'Destroy', admin_antique_ebay_auction_path(@antique, ebay_auction), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Antiques', admin_antiques_path %>
<%= link_to 'New Ebay auction', new_admin_antique_ebay_auction_path %>
