<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ebay_auction.title %>
</p>

<p>
  <b>Description:</b>
  <%= md( @ebay_auction.description ) %>
</p>

<p>
  <b>Start price:</b>
  <%= @ebay_auction.start_price %>
</p>

<p>
  <b>Current price:</b>
  <%= @ebay_auction.current_price %>
</p>

<p>
  <b>Reserve price:</b>
  <%= @ebay_auction.reserve_price %>
</p>

<p>
  <b>Buy it now price:</b>
  <%= @ebay_auction.buy_it_now_price %>
</p>

<p>
  <b>Shipping price:</b>
  <%= @ebay_auction.shipping_price %>
</p>

<p>
  <b>Antique:</b>
  <%= @ebay_auction.antique_id %>
</p>

<p>
  <b>Item number:</b>
  <%= @ebay_auction.item_number %>
</p>

<p>
  <b>Length:</b>
  <%= @ebay_auction.length %>
</p>

<p>
  <b>Bids:</b>
  <%= @ebay_auction.bids %>
</p>

<p>
  <b>Hit count:</b>
  <%= @ebay_auction.hit_count %>
</p>

<p>
  <b>Watch count:</b>
  <%= @ebay_auction.watch_count %>
</p>

<p>
  <b>Reserve met:</b>
  <%= @ebay_auction.reserve_met %>
</p>

<p>
  <b>Listing status:</b>
  <%= @ebay_auction.listing_status %>
</p>

<p>
  <b>Time left:</b>
  <%= @ebay_auction.time_left %>
</p>

<p>
  <b>Start time:</b>
  <%= @ebay_auction.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @ebay_auction.end_time %>
</p>

<p>
  <b>Date ended:</b>
  <%= @ebay_auction.date_ended %>
</p>

<p>
  <b>Primary category:</b>
  <%= @ebay_auction.primary_category_id %>
</p>

<p>
  <b>Winner:</b>
  <%= @ebay_auction.winner_id %>
</p>

<%- if @ebay_auction.draft? -%>
  <%= semantic_form_for [:admin, @antique, @ebay_auction] do |f| %>
    <%= f.hidden_field :listing_status, :value => :pending %>
    <%= f.submit "List Now!" %>
  <%- end -%>
<%- end -%>

<%= link_to 'Edit', edit_admin_antique_ebay_auction_path(@antique, @ebay_auction) %> |
<%= link_to 'Back', admin_antique_ebay_auctions_path(@antique) %>
