<h1><%= @antique.sku %> <%= @antique.name %></h1>

<p>
  <%= @antique.description %>
</p>

<dl>
  <%- [:width, :height, :depth].each do |dim| -%>
    <%= content_tag :dt, dim %>
    <%= content_tag :dd, @antique.send(dim) %>
  <%- end -%>
  <dt>Created At</dt>
  <dd><%= content_tag :time, @antique.created_at, :datetime => @antique.created_at %></dd>
  <dt>Updated At</dt>
  <dd><%= content_tag :time, @antique.updated_at, :datetime => @antique.updated_at %></dd>
</dl>

<table>
  <tbody>
    <%- if @antique.photos.empty? -%>
      No photos. <%= link_to "Refresh?", refresh_admin_antique_photos_path(@antique) %>
    <%- else -%>
      <%- @antique.photos.each do |photo| -%>
        <tr>
          <td>
            <%= image_tag photo.url, :alt => @antique.sku, :title => @antique.name %>
          </td>
        </tr>
      <%- end -%>
    <%- end -%>
  </tbody>
</table>

<%= link_to "Edit", edit_admin_antique_path(@antique) %>
<%= link_to "Antiques", admin_antiques_path %>
